/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

.gallery{
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    margin: 0 auto;
}
.gallery-image {
    width: 360px;
    height: 200px;
}
.container {
  margin-bottom: 20px;
}
.feedback-form {
  width: 408px;
  height: 296px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}
.lablemail {
margin-top: 24px;
margin-bottom: 8px;
margin-left: 0;
margin-right: 0;
align-items: start;
text-align: start;

}
.lablemas {
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  align-items: start;
  text-align: start;
}
.email .message {
  border: 1px solid #808080;
  padding: 0;
  margin: 0;
}
.email {
   margin-left: 0;
   margin-right: 0;
   width: 360px;
   height: 40px;
}
.email:hover {
  border: 1px solid #000;
}
.email:active {
  border: 1px solid #808080;
}
.message {
  height: 80px;
  width: 360px;
  resize: none;
}
.message:hover {
  border: 1px solid #808080;
}

h2 {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
text-align: left;
}
button {
  width: 95px;
  height: 40px;
  background-color: #4E75FF;
  border-radius: 6px;
  border: 0;
}
button:hover{
  background-color: #6C8CFF;
}
.btn-text {
  color: #fff;
}